/** @format */

.container {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	padding: 50px 0;
	width: 85vw;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.metrics-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	width: 900px;
	height: 500px;
	justify-content: center;
}

.row {
	display: flex;
	width: 100%;
}

.metric {
	flex: 1;
	padding: 10px;
	color: black;
	font-size: 1.2rem;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	text-align: center;
	font-family: Arial, sans-serif;
}

.metric:hover {
	background-color: #e0e0e0;
}

.row-sum {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid wheat;
	padding: 10px 20px;
	width: 50px;
}

.colsum-div {
	display: flex;
	gap: 8px;
}

.col-sum {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid wheat;
	padding: 10px 20px;
	width: 50px;
}

.buttons-div {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}

/* ---------------------- */
.userInput {
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
}
.nine-input-box {
	display: flex;
	margin-bottom: 5px;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	align-items: center;
}
.sum-values {
	position: absolute;
}

.input {
	width: 40px;
	height: 30px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.input:focus {
	border-color: dodgerblue;
}
